{% extends "layout.html" %}

{% block body %}
    <h1 style="font-family: arial, sans-serif">Registrants</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Email</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Phone Number</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Clothes</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for registrant in registrants %}
                <tr>
                    <td><center>{{ registrant.name }}</center></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><center>{{ registrant.email }}</center></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><center>{{ registrant.number }}</center></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><center>{{ registrant.clothes }}</center></td>
                    <td></td>
                    <td></td>
                    <td>
                        <form action="/deregister" method="post">
                            <input name="id" type="hidden" value="{{ registrant.id }}">
                            <button type="submit">Deregister</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}